<div id="node- {{ node.nid }}" class="{{ classes }} clearfix"{{ attributes}}>

	{{ user_picture }}

	{{ render(title_prefix) }}
	{% if not page %}
	<h2 {{ title_attributes }}><a href="{{ node_url }}">{{ title }}</a></h2>
	{% endif %}
	{{ render(title_suffix) }}

	{% if display_submitted %}
	<div class="submitted">
		{{ submitted }}
	</div>
	{% endif %}

	<div class="content" {{ content_attributes }}>
		{{ render(content | hide('links', 'comments')) }}

		{{ render(content.links) }}
		{{ render(content.comments) }}
	</div>

</div>